* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: crimson;
    padding: 30px 0;
}

main {
    display: flex;
    margin: 60px;
    gap: 20px;
}

section {
    width: 70%;
    background-color: lightpink;
}

section form {
    margin: 30px;
}

aside {
    width: 30%;
    background-color: lightsalmon;
    display: grid;
    
}

aside img {
    width: 150px;
}