@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

section {
  padding: 50px 100px;
}

img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 100px;
  transition: 0.5s linear;
  background: white;
  text-transform: uppercase;
}

.logo img {
  width: 100px;
}

.home {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

.home-text h1 {
  font-size: 3.4rem;
  letter-spacing: 1px;
}

.home-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

.about-img img{
  border-radius: 0.5rem;
}

.about-text h2 {
  font-size: 1.8rem;
}

.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.1rem;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 1.8rem;
}

.destination-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}

.destination-box .box h3 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 0.5rem 0 0.5rem;
}

.foto {
  align-items: center;
  border-radius: 3rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
}

.footer-box h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-box p {
  font-size: 0.938rem;
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social a .bx {
  font-size: 24px;
  color: white;
  padding: 10px;
  background: #333;
  border-radius: 0.2rem;
}

form label {
  display: block;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  background-color: #333;
  border-radius: 0.5rem;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.copyright {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
}